:host {
  display: flex;
  border-bottom: 1px solid #A1A1A1;
  margin-bottom: 15px;
  margin-right: 20px;
  white-space: nowrap;
}

.card-title-container {
  text-transform: capitalize;
  overflow-x: hidden;
  width: 100%;
}

p, h6 {
  margin-bottom: 0;
}
