  <div class="row">
    <div class="col-md-4 col-sm-12 mb-2">
      <app-kalendario-card>
        <mat-calendar [dateClass]="dateClass()" [(selected)]="date">
          <mat-calendar-header></mat-calendar-header>
        </mat-calendar>
        <div *ngFor="let request of requests; let i = index">
          <div class="d-flex mb-2" (click)="select.emit(request.id)">
            <div class="calendar-bar"
                 [style.background-color]="getColor(i)"></div>
            <b>
              {{request.owner.name}} - {{request.owner.address}}
            </b>
          </div>
        </div>
      </app-kalendario-card>
    </div>
    <div class="col-md-8 col-sm-12">
      <app-kalendario-card>
        <customers-request-card [request]="selected"></customers-request-card>
      </app-kalendario-card>
    </div>
  </div>
