<div class="row" [class.no-gutters]="(isMobile$ | async)">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <div class="image-holder">
        <input type="image" src="{{model.photoUrl != null ? model.photoUrl : 'assets/img/default-avatar.jpg'}}"
               (click)="imageInput.click()"
               class="profile-img"
               alt="upload profile image"
               title="change image">
        <input type="file" accept="image/*" #imageInput hidden (change)="processFile(imageInput)">
    </div>
  </div>
  <app-mat-list-table class="col-sm-12 col-md-4 col-lg-4" title="DETAILS" [items]="model.details()">
  </app-mat-list-table>
  <app-mat-list-table class="col-sm-12 col-md-4 col-lg-4" title="SERVICES" [items]="services()">
  </app-mat-list-table>
  <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="schedule">
    <admin-schedule-details [model]="schedule"></admin-schedule-details>
  </div>
</div>


