<div class="row">
  <div class="col-4">
    <input type="image" src="{{model.photoUrl != null ? model.photoUrl : 'assets/img/default-avatar.jpg'}}"
           (click)="imageInput.click()"
           class="profile-img"
           alt="upload profile image"
           title="change image">
    <input type="file" accept="image/*" #imageInput hidden (change)="processFile(imageInput)">
  </div>
  <div class="col-4">
    <table class="table table-borderless">
      <tr>
        <th>instagram</th>
        <td>{{model.instagram}}</td>
      </tr>
      <tr>
        <th>email</th>
        <td>{{model.email}}</td>
      </tr>
      <tr>
        <th>bio</th>
        <td>{{model.bio}}</td>
      </tr>
    </table>
  </div>
  <div class="col-4">
    <table class="table">
      <thead>
      <tr>
        <th>Services</th>
        <th>Duration</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let service of model.services">
        <td>{{service.name}}</td>
        <td>{{service.duration}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4"></div>
  <div class="col-8" *ngIf="schedule">
    <admin-schedule-details [model]="schedule"></admin-schedule-details>
  </div>
</div>
