<div class="admin-dashboard-container" [class.admin-dashboard-is-mobile]="(isMobile | async)">
  <mat-sidenav-container class="admin-dashboard-sidenav-container">
    <mat-sidenav [mode]="(isMobile | async) ? 'over' : 'side'"
                 [fixedInViewport]="(isMobile | async)" fixedTopGap="56" [opened]="(sideOpen | async)">
      <mat-nav-list>
        <a mat-list-item *ngFor="let option of options"
           routerLink="{{option.link}}" routerLinkActive="p900 active" (click)="optionClick()">
          {{option.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
