<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer mode="side" class="mat-elevation-z10 drawer" [opened]="(sideOpen | async)">
    <mat-list role="list">
      <mat-list-item *ngFor="let option of options"
                     role="listitem"
                     routerLinkActive="p900 active"
                     routerLink="{{option.link}}">
        {{option.name}}
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="ml-5 admin-dashboard-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
