<div class="row">
  <div class="col-sm-12 col-md-4">
    <app-mat-list-table class="col-sm-12 col-md-4 col-lg-4" title="DETAILS" [items]="model.details()">
    </app-mat-list-table>
  </div>
  <div class="col-sm-12 col-md-8">

    <form [formGroup]="form" class="form-inline">
      <mat-form-field>
        <input formControlName="from_date" placeholder="from date" matInput [matDatepicker]="startDt">
        <mat-datepicker-toggle matSuffix [for]="startDt"></mat-datepicker-toggle>
        <mat-datepicker #startDt disabled="false"></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="to_date" placeholder="to date" matInput [matDatepicker]="endDt">
        <mat-datepicker-toggle matSuffix [for]="endDt"></mat-datepicker-toggle>
        <mat-datepicker #endDt disabled="false"></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="services" placeholder="services" multiple>
          <mat-option *ngFor="let service of services$ | async" [value]="service.id">{{service.toString()}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="employees" placeholder="employees" multiple>
          <mat-option *ngFor="let employee of employees$ | async" [value]="employee.id">{{employee.toString()}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="loadAppointments()">filter</button>
    </form>

    <table mat-table [dataSource]="appointmentData" class="mat-elevation-z8" *ngIf="appointmentData">
      Position Column
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> Start</th>
        <td mat-cell *matCellDef="let element"> {{element.start}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef> Employee</th>
        <td mat-cell *matCellDef="let element"> {{element.employee}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="service">
        <th mat-header-cell *matHeaderCellDef> Service</th>
        <td mat-cell *matCellDef="let element"> {{element.service}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr (click)="onLineClick(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
  <div class="col-4"></div>
  <div class="col-8">
  </div>
</div>
