<div class="calendar-table-container">

  <div #calendarTable class="calendar-table">
    <div class="calendar-right">
      <app-calendar-line *ngFor="let time of calendarHours"
                         [time]="time"
                         [availability]="availability"
                         (clicked)="emitLineClick($event)"></app-calendar-line>
    </div>

  </div>

  <div class="current-time-line"
       [hidden]="!isToday"
       [style.top]="markerTop + 'px'"></div>

  <div class="calendar-event mat-elevation-z1" *ngFor="let event of calendarEvents"
       [style.background-color]="event.color"
       [style.top]="topPosition(event)"
       [style.height]="event.height"
       [style.width]="eventWidth()"
       (click)="eventClicked(event.id)">
    <div class="calendar-event-text">{{event.title}}</div>
  </div>

</div>

