@import "./src/variables";

h4 {
  margin: auto;
  width: 50%;
}

.calendar-table-container {
  position: relative;
  max-width: 600px;
}

.calendar-event {
  box-sizing: border-box;
  border: 1px solid lightgray;
  position: absolute;
  left: 0;
  border-radius: 10px;
  cursor: pointer;
}

.calendar-event:hover {
  z-index: 10;
}

.calendar-event-text {
  position: absolute;
  text-align: center;
  left: 0;
  /* make the top edge of .inner appear in the vertical center of .outer */
  top: 50%;
  /* move .inner up by half of its height so that its middle is in the middle of .outer */
  transform: translateY(-50%);
  width: 100%;
  color: white;
  mix-blend-mode: difference;
}

.calendar-table {
  display: flex;
  flex-wrap: nowrap;
}

.calendar-right {
  width: 100%;
}

.bg-light-gray {
  background-color: #f1f1f1;
}

.current-time-line {
  border-bottom: $accent 1px solid;
  width: calc(100% + 1px);
  position: absolute;
  z-index: 40;
}
