<model-list-container [modelList]="modelList$ | async"
                      [selectedModel]="selectedModel$ | async"
                      [editMode]="editMode$ | async"
                      [mobileView]="isMobile$ | async"
                      [searchValue]="searchValue$ | async"
                      (edit)="toggleEdit($event)"
                      (selected)="modelSelected($event)"
                      (create)="newModel()"
                      (delete)="deleteModel($event)"
                      (search)="updateSearch($event)">
  <ng-container *ngIf="(selectedModel$ | async) as selectedModel">
    <admin-employee-view-shell></admin-employee-view-shell>
  </ng-container>
</model-list-container>
