<mat-toolbar class="navbar-container">
  <mat-toolbar-row class="bg-white company-shadow-1">

    <button *ngIf="showLeftPaneButton" (click)="toggleLeftPane.emit()" class="btn btn-light">
      <i class="fa fa-bars"></i>
    </button>

    <h4 class="c-pointer nav-logo" routerLink="/">
      Kalendario
    </h4>

    <span class="nav-spacer"></span>


    <h4 class="c-pointer nav-logo"  routerLink="/c/{{companyName}}" *ngIf="companyName">
      <span>{{companyName | removeHyphen}}</span>
    </h4>


    <div *ngIf="isLoggedIn; else loginTemplate">

      <button *ngIf="companyName"
              class="btn btn-light"
              routerLink="c/{{companyName}}/cart"
              [matBadge]="cartItems"
              matBadgePosition="above"
              matBadgeColor="accent">
        <i class="fa fa-shopping-cart"></i>
      </button>
      <button class="btn btn-light" routerLink="cust/requests">
        <i class="fa fa-calendar"></i>
      </button>

      <ng-container *ngIf="user">
        <button mat-button [matMenuTriggerFor]="menu">
          <i class="fa fa-bars"></i>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="canCreateCompany()" mat-menu-item routerLink="/create-company">
            Create Company
          </button>
          <button *ngIf="canManageCompany()" mat-menu-item routerLink="/admin/home">
            Company dashboard
          </button>
          <button *ngIf="canViewEmpDashboard()" mat-menu-item routerLink="/emp/">
            Employee dashboard
          </button>
          <button mat-menu-item (click)="logout.emit()">
            Logout
          </button>
        </mat-menu>
      </ng-container>
    </div>
    <ng-template #loginTemplate>
      <button class="btn btn-light" routerLink="/login">
        login
      </button>
      <button class="btn btn-light" routerLink="/register">
        register
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

