<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Vintage Studio</span>
    <button mat-button routerLink="/staff">
      <mat-icon class="icon">emoji_people</mat-icon>
      staff
    </button>
    <span class="example-spacer"></span>
    <div *ngIf="isLoggedIn(); else loginTemplate">
      <ng-container *ngIf="user$ | async as user">
        <button mat-button [matMenuTriggerFor]="menu">Welcome {{user.firstName}}</button>
        <mat-menu #menu="matMenu">
          <button *ngIf="user.isEmployee; else customerLinks" mat-menu-item routerLink="/employee/dashboard">
            Dashboard
          </button>
          <ng-template #customerLinks>
            <button mat-menu-item routerLink="/my-appointments">
              My appointments
            </button>
          </ng-template>
          <button mat-menu-item (click)="logout()">
            Logout
          </button>
        </mat-menu>
      </ng-container>
    </div>
    <ng-template #loginTemplate>
      <button mat-button routerLink="/login">
        login
      </button>
      <button mat-button routerLink="/register">
        register
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

