<nav class="navbar navbar-expand-md navbar-dark bg-primary p-0 mb-3">
  <a class="navbar-brand">Company Name</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/staff">Staff</a>
      </li>
    </ul>
    <div class="nav-item dropdown" ngbDropdown *ngIf="isLoggedIn(); else loginTemplate">
      <ng-container *ngIf="user$ | async as user">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle>
          Welcome {{user.firstName}}
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" ngbDropdownItem routerLink="/employee-dashboard" *ngIf="user.isEmployee; else customerLinks">Dashboard</a>
          <ng-template #customerLinks>
            <a class="dropdown-item" ngbDropdownItem routerLink="/my-appointments">My appointments</a>
          </ng-template>
          <a class="dropdown-item" ngbDropdownItem (click)="logout()" >Logout</a>
        </div>
      </ng-container>
    </div>
    <ng-template #loginTemplate>
      <div class="btn-group">
        <button class="btn btn-sm btn-primary" routerLink="/login">Login</button>
        <button class="btn btn-sm btn-primary" routerLink="/register">Register</button>
      </div>
    </ng-template>
  </div>
</nav>
