<div [formGroup]="form">
  <input type="text"
         class="form-control form-control-admin"
         placeholder="customer"
         formControlName="name"
         [matAutocomplete]="auto"
         (keyup)="onKeyPress($event)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let customer of customers$ | async"
                  [value]="customer.name"
                  (onSelectionChange)="selected(customer)">
        {{ customer.name }}
        <small>{{customer.phone}}</small>
      </mat-option>
      <mat-option (click)="createCustomer()">
        <i class="fa fa-plus-circle"></i>
        create customer
      </mat-option>
    </mat-autocomplete>
  <div class="customer-details">
    {{customer?.email}}
    <br/>
    {{customer?.phone}}
  </div>
</div>
