<div class="container p-2">
  <!--<a class="btn-connect-option facebook" (click)="FBLogin()"></a>-->
  <!--<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with"-->
       <!--data-auto-logout-link="false" data-use-continue-as="false"></div>-->
  <div class="card m-auto mat-elevation-z5">

    <div class="card-body">
      <h4 class="card-title">sign in</h4>
      <form #loginForm="ngForm" class="form-signin" (submit)="login()">
        <mat-form-field>
          <input id="inputEmail"
                 matInput
                 class="form-control"
                 type="text"
                 placeholder="Username"
                 name="username"
                 [(ngModel)]="user.email"
                 required>
        </mat-form-field>
        <mat-form-field>
          <input id="inputPassword"
                 matInput
                 class="form-control"
                 type="password"
                 placeholder="Password"
                 name="password"
                 [(ngModel)]="user.password"
                 required>
        </mat-form-field>
        <button mat-flat-button color="accent" [disabled]="!loginForm.valid" type="submit">Login</button>
        <button mat-flat-button color="primary" routerLink="/register">Register</button>
      </form>
    </div>
  </div>

</div>
