<div class="text-center p-4">
  <!--<a class="btn-connect-option facebook" (click)="FBLogin()"></a>-->
  <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with"
       data-auto-logout-link="false" data-use-continue-as="false"></div>
  <form #loginForm="ngForm" class="form-signin" (submit)="login()">
    <hr/>
    <div class="pb-3">login in with your email</div>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input id="inputEmail" class="form-control" type="text" placeholder="Username"
           name="username" required [(ngModel)]="user.email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input id="inputPassword" class="form-control" type="password" placeholder="Password"
           name="password" required [(ngModel)]="user.password">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <button class="btn btn-block btn-secondary" routerLink="/register">Register</button>
  </form>
</div>
