<div class="container">
  <!--<a class="btn-connect-option facebook" (click)="FBLogin()"></a>-->
  <!--<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with"-->
  <!--data-auto-logout-link="false" data-use-continue-as="false"></div>-->
  <mat-card class="login-card m-auto mat-elevation-z5">

    <mat-card-content>
      <h4 class="card-title">Login</h4>
      <form [formGroup]="form" class="form-signin" (submit)="login()">
        <mat-error *ngIf="form.errors">
          <mat-list *ngFor="let error of form.errors">{{error}}</mat-list>
        </mat-error>

        <mat-form-field>
          <input id="inputEmail"
                 matInput
                 type="email"
                 placeholder="email"
                 formControlName="email">

          <mat-error *ngIf="form.get('email').errors?.serverError">
            {{form.get('email').errors?.serverError}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input id="inputPassword"
                 matInput
                 type="password"
                 placeholder="Password"
                 formControlName="password">

          <mat-error *ngIf="form.get('password').errors?.serverError">
            {{form.get('password').errors?.serverError}}
          </mat-error>
        </mat-form-field>

        <button mat-flat-button color="accent" [disabled]="!form.valid" type="submit">Login</button>
        <button mat-flat-button color="primary" routerLink="/register">Register</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>
