<div class="container align-self-center pt-4">
  <div class="row">
    <div class="btn-group col-md-6" role="group">
      <button disabled class="btn btn-outline-dark">Period:</button>
      <a class="btn btn-outline-dark"
              (click)="updatePeriod('all')"
              [class.btn-primary]="selectedPeriod === null">all</a>
      <a class="btn btn-outline-dark"
              (click)="updatePeriod('past')"
              [class.btn-primary]="selectedPeriod === 'past'">past</a>
      <a class="btn btn-outline-dark"
              (click)="updatePeriod('future')"
              [class.btn-primary]="selectedPeriod === 'future'">future</a>

    </div>
    <div class="btn-group col-md-6">
      <button disabled class="btn btn-outline-dark">Status:</button>
      <a class="btn btn-outline-dark"
              (click)="updateStatus(null)"
              [class.btn-primary]="selectedStatus === null">all</a>
      <a class="btn btn-outline-dark"
              (click)="updateStatus('P')"
              [class.btn-primary]="selectedStatus === 'P'">pending</a>
      <a class="btn btn-outline-dark"
              (click)="updateStatus('A')"
              [class.btn-primary]="selectedStatus === 'A'">confirmed</a>
      <a class="btn btn-outline-dark"
              (click)="updateStatus('R')"
              [class.btn-primary]="selectedStatus === 'R'">canceled</a>
    </div>
    <app-appointment-card class="col-12 p-2" *ngFor="let appointment of appointments$ | async" [appointment]="appointment"></app-appointment-card>
  </div>
</div>
