<div class="container">
  <div class="d-flex justify-content-center">
    <h4 *ngIf="message; else form">
      {{message}}
    </h4>

    <ng-template #form>
      <app-kalendario-card class="card-400">
        <h3>Reset Password</h3>
        <auth-reset-password-confirm-form [uid]="uid"
                                          [token]="token"
                                          (submitForm)="submit($event)"></auth-reset-password-confirm-form>
      </app-kalendario-card>
    </ng-template>
  </div>
</div>
