<model-list-container [modelList$]="modelList$"
                      (create)="openCreateDialog()"
                      (delete)="deleteModel($event)">
  <ng-container *ngIf="selectedModel$ | async as selectedModel">
    <admin-employee-view-shell *ngIf="!(editMode$ | async)"
                               [model]="selectedModel"
                               (photoChange)="onPhotoChange($event)"></admin-employee-view-shell>
    <admin-employee-form *ngIf="editMode$ | async"
                         [model]="selectedModel"
                         [htmlAction]="'PATCH'"
                         (cancelClicked)="toggleEdit()"></admin-employee-form>
  </ng-container>
</model-list-container>
