.calendar-left {
  position: relative;
  background-color: white;
  text-align: center;
  width: 60px;
}

.calendar-hour {
  height: 60px;
}

.hour-box {
  position: relative;
  top: -15px;
  color: darkgray;
}

.current-time-line {
  border-bottom: red 1px solid;
  width: calc(100% + 1px);
  position: absolute;
  z-index: 102;
}

.current-time-arrow {
  position: absolute;
  left: 61px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid red;
  z-index: 102;
}
