<div class="container mt-4">
  <app-kalendario-card>
    <mat-tab-group mat-align-tabs="center" animationDuration="300ms">
      <mat-tab label="Profile">
        <div class="d-flex justify-content-center mt-2">
          <customer-user-details [user]="user$ | async"></customer-user-details>
        </div>
      </mat-tab>
      <mat-tab label="Social Accounts">
        <ng-template matTabContent>
          <div class="d-flex justify-content-center mt-2">
            <auth-social-accounts-shell></auth-social-accounts-shell>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Change Password">
        <div class="d-flex justify-content-center mt-2">
          <auth-change-password-shell></auth-change-password-shell>
        </div>
      </mat-tab>
    </mat-tab-group>
  </app-kalendario-card>
</div>
