<model-list-container [modelList$]="modelList$"
                      (create)="openCreateDialog()"
                      (delete)="deleteModel($event)">
  <ng-container *ngIf="selectedModel$ | async as selectedModel">
    <admin-customer-details *ngIf="!(editMode$ | async)"
                            [model]="selectedModel"></admin-customer-details>
    <admin-customer-form *ngIf="editMode$ | async"
                         [model]="selectedModel"
                         [htmlAction]="'PATCH'"
                         (cancelClicked)="toggleEdit()"></admin-customer-form>
  </ng-container>
</model-list-container>
