.mobile-tab {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 100;
  background-color: #fafafa;
  padding-top: 5px;
}

.mobile-tab-container {
  display: flex;
  overflow-x: scroll;
}

.mobile-tab-item {
  position: relative;
  margin: 10px 10px 40px 10px;
  min-height: 80px;
  min-width: 80px;
  display: flex;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.route-icon {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 10px;
}

.route-title {
  font-size: 0.75rem;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
