<div class="d-flex align-items-end justify-content-around">
  <div *ngIf="appointment.customer" class="d-flex flex-column flex-fill text-left">
    {{appointment.service.name}}
    <div>
      <i class="fa fa-clock c-primary mr-2"></i>
      {{appointment.start.format('HH:mm')}} -
      {{appointment.end.format('HH:mm')}}
    </div>
    <div>
      <i class="fa fa-address-card mr-2 c-primary"></i>
      {{appointment.customer?.name}}
    </div>
    <div>
      <p *ngIf="appointment.internalNotes">
        <i class="fa fa-sticky-note c-primary mr-2"></i>
        {{appointment.internalNotes}}
      </p>
      <p *ngIf="appointment.customerNotes">
        <i class="fa fa-comment-alt c-primary mr-2"></i>
        {{appointment.customerNotes}}
      </p>
    </div>
  </div>
  <div *ngIf="!appointment.customer" class="flex-fill">
    <p>Locked time
      {{appointment.start.format('HH:MM')}} -
      {{appointment.end.format('HH:MM')}}
    </p>
  </div>
  <div>
    <i *ngIf="showEdit" class="fa fa-pen c-primary c-pointer mr-4"
       (click)="edit()">
    </i>
  </div>
</div>
<div>
  <hr/>
</div>


