<model-list-container [modelList]="modelList$ | async"
                      [selectedModel]="selectedModel$ | async"
                      [editMode]="editMode$ | async"
                      [searchValue]="searchValue$ | async"
                      [mobileView]="isMobile$ | async"
                      (edit)="toggleEdit($event)"
                      (selected)="modelSelected($event)"
                      (create)="newModel()"
                      (delete)="deleteModel($event)"
                      (search)="searchModel($event)">
  <ng-container *ngIf="(selectedModel$ | async) as selectedModel">

    <div class="row" *ngIf="!(editMode$ | async)">
      <div class="col-sm-12 col-md-4">
        <admin-customer-details [model]="selectedModel"
                                [isMobile]="isMobile$ | async"
                                [isTablet]="isTablet$ | async"></admin-customer-details>
      </div>
      <div class="col-sm-12 col-md-8">
        <app-customer-appointments></app-customer-appointments>
      </div>
    </div>

    <admin-customer-form *ngIf="editMode$ | async"
                         [model]="selectedModel"
                         [apiError]="apiError$ | async"
                         (create)="saveModel($event)"
                         (update)="updateModel($event)"
                         (cancel)="cancelForm($event)"></admin-customer-form>
  </ng-container>
</model-list-container>
