<div class="row h-100">
  <div [ngSwitch]="viewType" class="col-md-3">
    <div class="card h-100">
      <div *ngSwitchCase="1" class="card-body">
        <app-appointment-form
          [employee]="employee"
          [date]="calendarDate"
          (dateChanged)="updateCalendar($event)"></app-appointment-form>
      </div>
      <div *ngSwitchCase="2" class="card-body">
        <app-appointment-requests (eventClicked)="updateCalendar($event)"></app-appointment-requests>
      </div>

    </div>
  </div>
  <div class="col-md-9">
    <app-employee-calendar (eventClicked)="updateCalendar($event)" [setDate]="calendarDate"></app-employee-calendar>
  </div>
</div>


