<ng-container *ngIf="appointment">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{appointment.service.name}}
      </mat-panel-title>
      <mat-panel-description class="align-content-center">
        <mat-icon class="mt-auto mb-auto">schedule</mat-icon>
        {{appointment.start.format('HH:mm')}}
        {{appointment.end.format('HH:mm')}}
      </mat-panel-description>
    </mat-expansion-panel-header>
        <p><sup>name</sup> {{appointment.customer.name}}</p>
        <p><sup>phone</sup> {{appointment.customer.phone}}</p>
        <p><sup>additional info</sup> {{appointment.customerNotes}}</p>
    <ng-container *ngIf="showButtons">
      <button mat-flat-button [class.d-none]="appointment.status==='P'" disabled>{{appointment.statusDescription()}}
      </button>
      <button mat-flat-button color="accent" [class.d-none]="appointment.status==='A'" (click)="changeStatus('A')">
        confirm
      </button>
      <button mat-flat-button color="warn" [class.d-none]="appointment.status==='R'" (click)="changeStatus('R')">
        cancel
      </button>
    </ng-container>
  </mat-expansion-panel>
</ng-container>


<ng-container *ngIf="selfAppointment">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Time blocked
      </mat-panel-title>
      <mat-panel-description class="align-content-center">
        <mat-icon class="mt-auto mb-auto">schedule</mat-icon>
        {{selfAppointment.start.format('HH:mm')}}
        {{selfAppointment.end.format('HH:mm')}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{selfAppointment.reason}}
  </mat-expansion-panel>
</ng-container>
