  <div class="schedule-container">
    <div class="d-flex">
      <div *ngFor="let hour of hours" class="cell">
        <div class="hour-text">
          {{hour}}
        </div>
      </div>
    </div>

    <div class="schedule-body">
      <div *ngFor="let day of model.shifts; let i = index" class="week-line">
        <div class="line-cell c-primary" [class.b-top]="i > 0">
          {{day}}
        </div>
        <div class="position-relative">
          <app-shift-frame *ngFor="let frame of model[day]?.frames" [frame]="frame"></app-shift-frame>
        </div>
        <div *ngFor="let hour of hours" class="cell b-left" [class.b-top]="i > 0"></div>
      </div>
    </div>

  </div>
