<div class="shared-dashboard-container">
  <mat-sidenav-container class="shared-dashboard-sidenav-container" [autosize]="true">
    <mat-sidenav [mode]="'side'"
                 [fixedInViewport]="false"
                 fixedTopGap="56"
                 [opened]="leftPaneOpen">
      <mat-nav-list *ngIf="user">
        <ng-container *ngFor="let route of routes">
          <a *ngIf="!route.fn || route.fn(user)"
             mat-list-item
             routerLink="{{route.path}}"
             routerLinkActive #rla="routerLinkActive">
            <i [matTooltip]="route.path | titlecase"
               class="fa fa-{{route.icon}} c-pointer"
               [class.c-primary]="rla.isActive"></i>
            <span class="ml-2" *ngIf="leftPaneOpen">
              {{route.path | titlecase}}
            </span>
          </a>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
