<form #createEmployeeForm="ngForm" class="create-form">
  <div matDialogTitle>
    new service
  </div>
  <div matDialogContent>

    <div class="form-row text-center">
      <div class="col-6">
        <mat-form-field>
          <input [(ngModel)]="form.name"
                 name="name"
                 placeholder="name"
                 matInput
                 #name="ngModel"
                 required>
          <mat-error>
            Please enter a name
          </mat-error>
        </mat-form-field>
        <div class="form-row">
          <div class="col6">
            <mat-form-field>
              <input [(ngModel)]="duration.minutes"
                     name="durationMinutes"
                     matInput
                     placeholder="Duration Minutes"
                     #durationMinutes="ngModel"
                     type="number"
                     required>
              <mat-error>
                Please enter a duration
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col6">
            <mat-form-field>
              <input [(ngModel)]="duration.hours"
                     name="durationHours"
                     matInput
                     placeholder="Duration Hours"
                     #durationHours="ngModel"
                     type="number"
                     required>
              <mat-error>
                Please enter a duration
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-6">
        <mat-form-field class="h-100">
          <textarea [(ngModel)]="form.description"
                    class="h-100"
                    name="description"
                    matInput
                    placeholder="description"
                    #description="ngModel"
                    required></textarea>
          <mat-error>
            Please enter a duration
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button
            color="accent"
            [mat-dialog-close]="result()"
            [disabled]="!createEmployeeForm.valid">create
    </button>
    <button mat-flat-button color="warn" (click)="onNoClick()">cancel</button>
  </div>
</form>
