<div class="toolbar-wrapper pb-4">
  <div class="toolbar-top-line">
    <div class="h5 c-pointer my-auto mr-4 fix-size"
         [class.selected-panel]="color(panel)"
         *ngFor="let panel of panels; let i = index"
         [@pulse]="panelPulses[i]"
         (click)="selectClick(i)">{{panel.name}}</div>
    <div class="d-flex my-auto">
      <app-fab-button icon="fa-plus" class="mx-2 c-primary" matTooltip="add panel" (click)="createPanel()"></app-fab-button>
      <app-fab-button icon="fa-pen" class="mr-2 c-accent" matTooltip="edit panel" (click)="editPanel()"></app-fab-button>
      <app-fab-button icon="fa-times" class="c-danger" matTooltip="remove panel" (click)="deletePanel()"></app-fab-button>
    </div>
  </div>

  <div *ngIf="currentPanel" class="d-flex">
    <mat-menu #employeesMenu="matMenu">
      <button *ngFor="let emp of toolbarEmployees"
              mat-menu-item
              class="fix-size"
              (click)="addEmployee(emp)">
        <i *ngIf="emp.isSelected" class="fa fa-check fix-size"></i>
        {{emp.employee.name}}
      </button>
    </mat-menu>

    <button class="btn mr-2 fix-size" [matMenuTriggerFor]="employeesMenu">
      <i class="fa fa-user-plus c-primary"></i>
    </button>

    <ng-container *ngIf="!isMobile">
      <button class="btn btn-admin btn-primary" (click)="today()">
        today
      </button>
      <button class="btn btn-light" (click)="previousDay()">
        <i class="fa fa-chevron-left c-accent"></i>
      </button>
      <button class="btn btn-light" (click)="nextDay()">
        <i class="fa fa-chevron-right c-accent"></i>
      </button>
    </ng-container>

    <div (click)="dpApointmentDashboard.open()" class="text-center fix-size mr-4">
      <div class="top-date">{{date | momentDate:'ddd'}}</div>
      {{date | momentDate}}
    </div>
    <i class="fa fa-calendar-alt fix-size" matsuffix (click)="dpApointmentDashboard.open()"></i>
    <div class="cdk-visually-hidden">
      <input matInput
             (click)="dpApointmentDashboard.open()"
             [ngModel]="date"
             (ngModelChange)="dateChanged.emit($event)"
             [matDatepicker]="dpApointmentDashboard">
    </div>
    <mat-datepicker [touchUi]="isMobile" #dpApointmentDashboard></mat-datepicker>

    <span class="nav-spacer"></span>

    <button class="btn btn-outline-primary mr-4"
            [matBadge]="requestCount"
            (click)="toggleRequests.emit()">requests
    </button>
  </div>

</div>
