<form [formGroup]="form" (ngSubmit)="submit()" class="form-100">
  <div class="form-group" *ngIf="form.get('newPassword1') as password1">
    <input type="password"
           class="form-control"
           placeholder="New Password"
           formControlName="newPassword1">

    <mat-error>
      <div *ngIf="password1.hasError('required') && password1.touched">password is required</div>
      <div *ngIf="password1.hasError('minlength') && password1.touched">
        password must have more than 8 characters
      </div>
      <div *ngIf="password1.errors?.serverError">
        {{password1.errors?.serverError}}
      </div>
    </mat-error>
  </div>

  <div class="form-group" *ngIf="form.get('newPassword2') as password2">
    <input type="password"
           class="form-control"
           placeholder="Retype New Password"
           formControlName="newPassword2">
    <mat-error>
      <div *ngIf="form.hasError('mismatch') && password2.touched">
        password must match
      </div>
      <div *ngIf="password2.errors?.serverError">
        {{password2.errors?.serverError}}
      </div>
    </mat-error>
  </div>

  <button class="btn btn-success btn-block" [disabled]="!form.valid" type="submit">Submit</button>
</form>

