<div class="card  m-auto">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="m-auto">
        {{appointment.statusDescription()}}
      </mat-panel-title>
      <mat-panel-description>
        <div class="col-sm-12 col-md-6 d-flex align-self-center">
          <mat-icon>event</mat-icon>
          {{appointment.start.format('DD/MM/YY')}}
        </div>
        <div class="col-sm-12 col-md-6 m-auto">
          {{appointment.start.format('HH:mm')}}
          {{appointment.end.format('HH:mm')}}
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row text-left">
      <div class="col-6">
        <img src="{{appointment.employee.photoUrl}}">
      </div>
      <div class="col-6">
        <h6>{{appointment.employee.name}}</h6>
        <h6 class="text-muted">
          {{appointment.service.name}}
        </h6>
        {{appointment.customerNotes}}
      </div>
    </div>
  </mat-expansion-panel>
</div>
