<div class="card border-dark m-2">
  <div (click)="emitEventClicked()" class="card-header text-center border-dark p-0">
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="showDate">
          <i class="fa fa-calendar"></i>
          {{appointment.start.format('DD/MM/YY')}}
        </div>
      </div>
      <div class="col-md-6">
        <i class="fa fa-clock-o"></i>
        {{appointment.start.format('HH:mm')}}
        {{appointment.end.format('HH:mm')}}
      </div>
    </div>
  </div>
  <div class="card-body text-center p-0">
    <div class="row no-gutters">
      <div class="col-md-6">
        <i class="fa fa-user"></i>
        {{appointment.customer.name}}
      </div>
      <div class="col-md-6">
        <i class="fa fa-tag"></i>
        {{appointment.service.name}}
      </div>
    </div>
  </div>
  <div class="btn-group btn-group-sm p-0">
    <button [class.d-none]="appointment.status==='P'" class="btn font-weight-bold" disabled>{{appointment.statusDescription()}}</button>
    <button [class.d-none]="appointment.status==='A'" class="btn btn-success" (click)="changeStatus('A')" >confirm</button>
    <button [class.d-none]="appointment.status==='R'" class="btn btn-danger" (click)="changeStatus('R')">cancel</button>
  </div>
</div>
