<div [formGroup]="colorParts">
  <input class="form-control form-control-admin"
         [(colorPicker)]="value"
         [cpPosition]="'bottom'"
         [cpPositionOffset]="'50%'"
         [cpPositionRelativeToArrow]="true"
         formControlName="color"
         (input)="_handleInput()"/>
  <span class="color-picker-button">
    <app-color-icon [color]="value"></app-color-icon>
    <i class="fa fa-fill"></i>
  </span>
  <div class="color-picker-box" [style.background-color]="value"></div>
</div>
