<form [formGroup]="form" class="form-100" (ngSubmit)="submit()" >
  <div class="row">
    <div class="col-12">

      <mat-error>
        <mat-list *ngFor="let error of form.errors">
          <mat-icon>priority_high</mat-icon> {{error}}
        </mat-list>
      </mat-error>

      <mat-form-field>
        <input matInput placeholder="first name" formControlName="firstName">

        <mat-error *ngIf="form.get('firstName').errors?.serverError">
          {{form.get('firstName').errors?.serverError}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="last name" formControlName="lastName">

        <mat-error *ngIf="form.get('lastName').errors?.serverError">
          {{form.get('lastName').errors?.serverError}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="email" type="email" formControlName="email">

        <mat-error *ngIf="form.get('email').errors?.serverError">
          {{form.get('email').errors?.serverError}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="phone" type="tel" formControlName="phone">

        <mat-error *ngIf="form.get('phone').errors?.serverError">
          {{form.get('phone').errors?.serverError}}
        </mat-error>
      </mat-form-field>

    </div>
    <div class="col-sm-12 col-md-12 text-right" *ngIf="showButtons">
      <button class="responsive-button" [disabled]="!form.valid" color="accent" mat-flat-button>confirm</button>
      <button class="responsive-button" (click)="cancel()" color="warn" mat-flat-button>cancel</button>
    </div>
  </div>
</form>
