<form #CustomerForm="ngForm" *ngIf="onUpdateEvent.model as writeModel">
  <div class="form-row">
    <div class="col-12">

      <mat-form-field>
        <input [(ngModel)]="writeModel.first_name"
               placeholder="first name"
               #firstName="ngModel"
               name="firstName"
               type="text"
               matInput
               required>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="writeModel.last_name"
               placeholder="last name"
               #lastName="ngModel"
               name="lastName"
               type="text"
               matInput
               required>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="writeModel.email"
               placeholder="email"
               #email="ngModel"
               name="email"
               type="email"
               matInput>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="writeModel.phone"
               placeholder="phone"
               #email="ngModel"
               name="phone"
               type="text"
               matInput
               required>
      </mat-form-field>

    </div>
    <div class="col-12 text-right">
      <button (click)="submit()" [disabled]="!CustomerForm.valid" color="accent" mat-flat-button>confirm</button>
      <button (click)="cancel()" color="warn" mat-flat-button>cancel</button>
    </div>
  </div>
</form>
