<div class="row justify-content-center">
  <div class="col-sm-6 col-md-4 col-lg-3 mt-2" *ngFor="let employee of employees$ | async">
    <mat-card class="emp-card mat-elevation-z10 m-auto">
      <img class="emp-card-img" src="{{employee.photoUrl}}">
      <mat-card-content>
        <h4 class="card-title">
          {{employee.name}}
        </h4>
        <h6 class="card-subtitle text-muted">
          {{services(employee)}}
        </h6>
        <div class="card-text">
          {{employee.bio}}
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button color="accent" class="w-100" routerLink="/c/{{companyName$ | async}}/staff/{{employee.id}}">book appointment</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

