<div class="container p-2">
  <div class="card-deck">
    <div class="card mat-elevation-z10" *ngFor="let employee of employees$ | async">
      <img class="m-auto" src="{{employee.photoUrl}}">
      <div class="card-body">
        <h4 class="card-title">
          {{employee.name}}
        </h4>
        <h6 class="card-subtitle text-muted">
          {{services(employee)}}
        </h6>
        <div class="card-text">
          {{employee.bio}}
        </div>
      </div>
      <button mat-flat-button color="accent" routerLink="/c/{{companyId}}/staff/{{employee.id}}">book appointment</button>
    </div>
  </div>
</div>
