<app-kalendario-card class="card-400 mat-elevation-z5">
  <h5 class="card-title mb-3 text-center">Log in to Kalendario</h5>
  <form [formGroup]="form" class="form-100" (submit)="loginClick()">
    <mat-error *ngIf="form.errors">
      <mat-list *ngFor="let error of form.errors">{{error}}</mat-list>
    </mat-error>

    <div class="form-group">
      <input id="inputEmail"
             class="form-control form-control-admin"
             type="email"
             placeholder="Enter email"
             formControlName="email">

      <mat-error *ngIf="form.get('email').errors?.serverError">
        {{form.get('email').errors?.serverError}}
      </mat-error>
    </div>

    <div class="form-group">
      <input id="inputPassword"
             class="form-control form-control-admin"
             type="password"
             placeholder="Enter password"
             formControlName="password">

      <mat-error *ngIf="form.get('password').errors?.serverError">
        {{form.get('password').errors?.serverError}}
      </mat-error>
    </div>

    <button class="btn btn-block btn-primary mb-2" [disabled]="!form.valid" type="submit">Login</button>
  </form>

  <div class="text-center my-4">
    <p>OR</p>
  </div>

  <auth-facebook-login-shell></auth-facebook-login-shell>

  <hr/>
  <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item c-pointer"><a routerLink="/reset-password">Can't Login?</a></li>
    <li class="breadcrumb-item c-pointer"><a routerLink="/register">Sign Up</a></li>
  </ol>
</app-kalendario-card>
