<div [matTooltip]="disableDateInput ? disabledTooltip : ''"
     class="text-center mb-2">
  <button class="btn btn-primary mr-1"
          [class.btn-sm]="isMobile"
          (click)="this.book.emit()"
          [disabled]="currentSlotId === null">
    Book Now
  </button>
  <button [disabled]="disableDateInput"
          (click)="today()"
          [class.btn-sm]="isMobile"
          class="btn btn-accent mr-1">
    Today
  </button>
  <button [disabled]="disableDateInput"
          (click)="previousDay()"
          [class.btn-sm]="isMobile"
          class="btn btn-accent-dark mr-1">
    <i class="fa fa-chevron-left"></i>
  </button>
  <button [disabled]="disableDateInput"
          (click)="nextDay()"
          [class.btn-sm]="isMobile"
          class="btn btn-accent-dark mr-1">
    <i class="fa fa-chevron-right"></i>
  </button>

  <mat-form-field appearance="standard">
    <input matInput
           [disabled]="disableDateInput"
           readonly
           [value]="currentDate"
           (click)="dpAppointmentDashboard.open()"
           (dateChange)="this.dateChange.emit($event.value)"
           [matDatepicker]="dpAppointmentDashboard">
    <mat-datepicker-toggle matSuffix [for]="dpAppointmentDashboard"></mat-datepicker-toggle>
    <mat-datepicker touchUi="{{isMobile}}" #dpAppointmentDashboard></mat-datepicker>
  </mat-form-field>
</div>

<div *ngIf="service" class="text-center bg-white">
  <h5 class="c-accent" [@bounceInRight]="serviceAnimationState">
      <span [@bounceInRight]="!serviceAnimationState">
      {{service?.name}}
      </span>
  </h5>
  <div class="row pretty-scroll">
    <div *ngIf="!isMobile && !isLoading"
         class="col-sm-12 col-md-6"
         [@fadeInOnEnter] [@fadeOutOnLeave]>
      <h5>{{currentDateFormatted}}</h5>
      <div class="mb-2" *ngFor="let event of currentDateSlots()">
        <company-service-slot-shell [slot]="event"
                                    [currentSlotId]="currentSlotId"></company-service-slot-shell>
      </div>
    </div>
    <div *ngIf="!isLoading"
         class="col-sm-12 col-md-6"
         [@fadeInOnEnter] [@fadeOutOnLeave]>
      <h5>{{nextDayFormatted}}</h5>
      <div class="mb-2" *ngFor="let event of nextDaySlots()">
        <company-service-slot-shell [slot]="event"
                                    [currentSlotId]="currentSlotId"></company-service-slot-shell>
      </div>
    </div>
  </div>
</div>
