h4 {
  margin: auto;
  width: 50%;
}

.calendar-table-container {
  position: relative;
  max-width: 600px;
}

//.top-line {
//  border-bottom: 1px dashed lightgray;
//  width: 100%;
//  height: 30px;
//}
//
//.bottom-line {
//  border-bottom: 1px solid lightgray;
//  width: 100%;
//  height: 30px;
//}

.calendar-event {
  box-sizing: border-box;
  border: 1px solid lightgray;
  position: absolute;
  border-radius: 10px;
}

.calendar-event-text {
  position: absolute;
  text-align: center;
  left: 0;
  /* make the top edge of .inner appear in the vertical center of .outer */
  top: 50%;
  /* move .inner up by half of its height so that its middle is in the middle of .outer */
  transform: translateY(-50%);
  width: 100%;
}

.calendar-table {
  display: flex;
  flex-wrap: nowrap;
}

.calendar-right {
  width: 100%;
}

.bg-light-gray {
  background-color: #f1f1f1;
}
