

<div id="calendar-table-container" [style.height]="calendarHeight()">

  <div class="calendar-table">
    <ng-container *ngFor="let hour of calendarHours">
      <tr [style.background-color]="backGroundColor(hour, 0)">
        <th width="60px">{{hour}}:00</th>
        <td class="top-line"></td>
      </tr>
      <tr [style.background-color]="backGroundColor(hour, 30)">
        <th class="bottom-line"></th>
        <td class="bottom-line"></td>
      </tr>
    </ng-container>
  </div>

  <div class="calendar-event mat-elevation-z1" *ngFor="let event of events"
       [style.background-color]="event.color"
       [style.top]="topPosition(event)"
       [style.height]="eventHeight(event)"
       (click)="event.onClick()">
    <p>{{event.title}}</p>
  </div>

</div>

