<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-12 col-md-8 h4 text-center align-self-center text-uppercase">
        {{currentDate.format('dddd DD MMMM YYYY')}}
      </div>
      <div class="col-sm-12 col-md-4 text-right">
        <div class="btn-group">
          <a class="btn btn-secondary">today</a>
          <a class="btn btn-primary" (click)="previousDay()"><i class="fa fa-chevron-left"></i></a>
          <a class="btn btn-primary" (click)="nextDay()"><i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <ng-content></ng-content>
    </div>
  </div>
</div>
