<div *ngIf="employee" class="container pt-2">
  <div (empId)=employee.id class="row">
    <div class="col-sm-12 col-md-3">
      <div class="card mat-elevation-z5">
        <button mat-stroked-button color="primary" routerLink="/c/{{companyName$ | async}}/staff">BACK TO STAFF</button>
        <img src="{{employee.photoUrl}}" class="card-img-top d-none d-sm-none d-md-block" alt="...">
        <h5 class="card-title text-center">{{employee.name}}</h5>
        <p class="pl-2 pr-2">{{employee.bio}}</p>
        <button [color]="selectedServiceColor(s)" mat-flat-button *ngFor="let s of employee.services" (click)="handleServiceClick(s)">
          {{s.name}}
        </button>
        <div class="card-body"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-9">
      <app-calendar [default-date]="date"
                    [min-date]="date"
                    [events]="events"
                    (dayRender)="handleDayRender($event)">
      </app-calendar>
    </div>
  </div>
</div>
