<form #appointmentForm="ngForm">
  <div class="form-group">
    <input [(ngModel)]="form.startDate"
           name="startDate"
           #startDate="ngModel"
           class="form-control"
           type="date"
           required>
    <div class="invalid-feedback" [hidden]="startDate.valid || !startDate.touched">Please enter a date</div>
  </div>

  <div class="form-group">
    <input [(ngModel)]="form.startTime"
           name="startTime"
           #startTime="ngModel"
           class="form-control"
           type="time"
           required>
    <div class="invalid-feedback" [hidden]="startTime.valid || !startTime.touched">Please enter a time</div>
  </div>

  <div class="form-group">
    <input [(ngModel)]="form.customerName"
           #customerName="ngModel"
           name="customerName"
           placeholder="customer"
           class="form-control"
           type="text"
           [ngbTypeahead]="search"
           [resultTemplate]="rt"
           [inputFormatter]="formatter"
           (change)="customerChange($event)">

    <input [(ngModel)]="appointment.customer"
           #customerId="ngModel"
           name="customerId"
           class="form-control"
           type="hidden"
           required>
    <div [hidden]="customerId.valid || !customerName.touched" class="alert alert-danger">invalid customer</div>
  </div>

  <div class="form-group">
    <select [(ngModel)]="appointment.service"
            #service="ngModel"
            name="service"
            class="form-control"
            required>
      <option disabled>select a service</option>
      <option *ngFor="let service of employee.services" [ngValue]="service.id">{{service.name}}</option>
    </select>
    <div [hidden]="service.valid || !service.touched" class="alert alert-danger">
      service is required
    </div>
  </div>

  <button type="submit"
          [disabled]="!appointmentForm.valid"
          class="btn btn-primary btn-block"
          (click)="submit()">
    book appointment
  </button>
</form>

<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>

