<form #createEmployeeForm="ngForm" class="create-form">
  <div matDialogTitle>
    new employee
  </div>
  <div matDialogContent>

    <div class="row text-center">
      <div class="col-6">
        <mat-form-field>
          <input [(ngModel)]="form.firstName"
                 name="firstName"
                 placeholder="first name"
                 matInput
                 #firstName="ngModel"
                 required>
          <mat-error>
            Please enter a name
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="form.lastName"
                 name="firstName"
                 matInput
                 placeholder="last name"
                 #firstName="ngModel"
                 required>
          <mat-error>
            Please enter a name
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="form.phone"
                 name="lastName"
                 matInput
                 placeholder="phone number"
                 #lastName="ngModel">
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="form.email"
                 name="email"
                 matInput
                 placeholder="email"
                 #lastName="ngModel">
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="form.instagram"
                 name="instagram"
                 matInput
                 placeholder="instagram"
                 #lastName="ngModel">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
      <textarea [(ngModel)]="form.bio"
                name="bio"
                matInput
                placeholder="description"
                #lastName="ngModel"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="services"
                      [(value)]="form.services"
                      multiple>
            <mat-option *ngFor="let service of services" [value]="service.id">{{service.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button
            color="accent"
            [mat-dialog-close]="form.createModel()"
            [disabled]="!createEmployeeForm.valid">create
    </button>
    <button mat-flat-button color="warn" (click)="onNoClick()">cancel</button>
  </div>
</form>
