<div *ngIf="employee">
  <div (empId)=employee.id class="row">
    <div class="col-sm-12 col-md-3">
      <div class="card">
        <div class="card-header click">
          <div class="card-title m-auto text-center" routerLink="/staff">BACK TO STAFF</div>
        </div>
        <img src="{{employee.photoUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{employee.name}}</h5>
          <p class="card-text">{{employee.bio}}</p>
        </div>
        <div class="list-group list-group-flush text-center">
          <div class="list-group-item">SELECT A SERVICE</div>
          <div (click)="handleServiceClick(service)" class="list-group-item click" [class.active]="service.id === serviceId"
               *ngFor="let service of employee.services">
            <a>{{service.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-9">
      <app-calendar [events]="slots"
                  [default-date]="date"
                  (dayRender)="handleDayRender($event)"
                  (agendaEventClicked)="handleDateEventClicked($event)"
      >
      </app-calendar>
    </div>
  </div>
</div>
