<div *ngIf="employee">
  <div (empId)=employee.id class="row">
    <div class="col-sm-12 col-md-3">
      <div class="card">
        <div class="card-header click">
          <div class="card-title m-auto text-center" routerLink="/staff">BACK TO STAFF</div>
        </div>
        <img src="{{employee.photoUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{employee.name}}</h5>
          <p class="card-text">{{employee.bio}}</p>
        </div>
        <div class="list-group">
          <div class="list-group-item list-group-item-action">SELECT A SERVICE</div>
          <a (click)="handleServiceClick(service)" class="list-group-item list-group-item-action"
             [class.active]="service.id === service"
             *ngFor="let service of employee.services">
            {{service.name}}
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-9">
      <app-calendar [default-date]="date"
                    [min-date]="date"
                    (dayRender)="handleDayRender($event)"
                    (agendaEventClicked)="handleEventClicked($event)">
        <app-slot
          class="col-sm-12 col-md-6"
          *ngFor="let slot of slots"
          [slot]="slot"
          (onClick)="handleEventClicked($event)"></app-slot>
      </app-calendar>
    </div>
  </div>
</div>
