<div class="panel-container">
  <div class="scheduling-panel-heading">
    <div class="fix-size h6">
      {{employee.name}}
    </div>

    <div class="d-flex justify-content-center">
      <app-fab-button icon="fa-calendar" class="c-primary mr-2" matTooltip="book appointment"
                      (click)="bookAppointment()"></app-fab-button>
      <app-fab-button icon="fa-lock" class="c-accent mr-2" matTooltip="lock time"
                      (click)="bookSelfAppointment()"></app-fab-button>
      <app-fab-button icon="fa-user-times" class="c-danger" matTooltip="remove" (click)="closeClick()"></app-fab-button>
    </div>
  </div>

  <div>
    <ng-content></ng-content>
  </div>
</div>


