<model-list-container [modelList$]="modelList$"
                      (create)="openCreateDialog()"
                      (delete)="deleteModel($event)">
  <ng-container *ngIf="selectedModel$ | async as selectedModel">
    <admin-service-details *ngIf="!(editMode$ | async)"
                           [model]="selectedModel"></admin-service-details>
    <admin-service-form *ngIf="editMode$ | async"
                             [model]="selectedModel"
                             [htmlAction]="'PATCH'"
                             (cancelClicked)="toggleEdit()">
    </admin-service-form>
  </ng-container>
</model-list-container>
