.emp-card-container {
  display: flex;
}

.emp-card-content {
  text-align: right;
  width: 100%;
}

.emp-card-button {
  position: absolute;
  bottom: 0;
  right: 15px;
}

.h4 {
  text-transform: uppercase;
}
