<table class="table table-borderless">
  <tr>
    <th>service:</th>
    <td>{{model.service.name}}</td>
  </tr>
  <tr>
    <th>date:</th>
    <td>{{model.start.format('DD/MM/YYYY')}}</td>
  </tr>
  <tr>
    <th>time:</th>
    <td>{{model.start.format('HH:mm')}} - {{model.end.format('HH:mm')}}</td>
  </tr>
  <tr>
    <th>customer:</th>
    <td>{{model.customer.name}}</td>
  </tr>
  <tr>
    <th>phone:</th>
    <td>{{model.customer.phone}}</td>
  </tr>
  <tr>
    <th>notes:</th>
    <td>{{model.customerNotes}}</td>
  </tr>
</table>
