<form class="appointment-form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-12">
      <mat-error>
        <mat-list *ngFor="let error of form.errors">
          {{error}}
        </mat-list>
      </mat-error>
    </div>

    <div class="col-12 form-group">
      <date-time-input class="form-control" formControlName="start"></date-time-input>
    </div>

    <div class="col-12 form-group">
      <date-time-input class="form-control" formControlName="end"></date-time-input>
    </div>

    <div class="col-12">
      <div class="form-group">
      <textarea class="form-control form-control-admin" formControlName="internalNotes"
                placeholder="internal notes"></textarea>
        <mat-error *ngIf="form.get('internalNotes').errors?.serverError">
          {{form.get('internalNotes').errors?.serverError}}
        </mat-error>
      </div>
    </div>

    <div class="col-12 form-group" *ngIf="permissions.overlap">
      <mat-checkbox formControlName="ignoreAvailability">Ignore Availability</mat-checkbox>
    </div>

    <div class="col-6">
      <button type="submit" class="btn btn-block btn-primary-gradient"
              [disabled]="!form.valid">{{model.id === 0 ? 'Create' : 'Update'}}</button>
    </div>
    <div class="col-6">
      <button type="button"
              class="btn btn-block btn-danger btn-round"
              (click)="emitCancel()">Cancel
      </button>
    </div>

  </div>
</form>


