<form class="appointment-form" [formGroup]="form" (ngSubmit)="submit()">

<mat-form-field>
    <input matInput
           formControlName="customerName"
           placeholder="customer name"
           type="text">
    <button mat-mini-fab
            type="button"
            (click)="openCustomerList()">
      select
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           formControlName="startDate"
           [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>
      Please enter a date
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           formControlName="startTime"
           type="time">
    <mat-error>
      Please enter a time
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Service</mat-label>
    <mat-select formControlName="service"
                class="form-control">
      <mat-option *ngFor="let service of model.employee.services" [value]="service.id">
        {{service.name}}
      </mat-option>
    </mat-select>
    <mat-error>
      service is required
    </mat-error>
  </mat-form-field>

  <button type="submit"
          color="primary"
          mat-flat-button
          (click)="submit()"
          [disabled]="!form.valid">
    book appointment
  </button>
  <button type="button" mat-flat-button color="warn" (click)="cancel()">cancel</button>
</form>
