<form class="appointment-form" [formGroup]="form" (ngSubmit)="submit()">

  <mat-error>
    <mat-list *ngFor="let error of form.errors">
      <mat-icon>priority_high</mat-icon> {{error}}
    </mat-list>
  </mat-error>

<mat-form-field>
  <app-customer-input placeholder="customer" formControlName="customer"></app-customer-input>
  </mat-form-field>

  <mat-form-field>
    <date-time-input placeholder="start datetime" formControlName="start" name="scheduled date"></date-time-input>

    <mat-error *ngIf="form.get('start').errors?.serverError">
      {{form.get('start').errors?.serverError}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Service</mat-label>
    <mat-select formControlName="service"
                class="form-control">
      <mat-option *ngFor="let service of model.employee.services" [value]="service.id">
        {{service.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('service').errors?.serverError">
      {{form.get('service').errors?.serverError}}
    </mat-error>
  </mat-form-field>

  <button type="submit" color="primary" mat-flat-button [disabled]="!form.valid">book appointment</button>
  <button type="button" mat-flat-button color="warn" (click)="cancel()">cancel</button>
</form>
