<mat-dialog-content>
  <admin-schedule-form #formComponent
                       [showButtons]="false"
                       [model]="model"
                       (success)="onSuccess($event)"
                       (cancel)="onNoClick()">
  </admin-schedule-form>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="submit()" [disabled]="!formComponent.form?.valid" class="btn btn-primary">confirm</button>
  <button (click)="onNoClick()" class="btn btn-danger">cancel</button>
</mat-dialog-actions>
