<div class="container p-2">
  <div class="card m-auto mat-elevation-z5">
    <div class="card-body">
      <h4 class="card-title text-center">REGISTER</h4>
      <form [formGroup]="registerForm" (submit)="register()" class="form-register">
        <mat-form-field *ngIf="registerForm.get('firstName') as firstName">
          <input type="text"
                 matInput
                 placeholder="first name"
                 formControlName="firstName">
          <mat-error>first name is required</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="registerForm.get('lastName') as lastName">
          <input type="text"
                 matInput
                 placeholder="last name"
                 formControlName="last_name">
          <mat-error>last name is required</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="registerForm.get('email') as email">
          <input type="email"
                 matInput
                 placeholder="Email address"
                 formControlName="email">
          <mat-error>
            <div *ngIf="email.hasError('required') && email.touched">email is required</div>
            <div *ngIf="email.hasError('email') && email.touched">please enter a valid email address</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="registerForm.get('password1') as password1">
          <input type="password"
                 matInput
                 placeholder="Password"
                 formControlName="password1">
          <mat-error>
            <div *ngIf="password1.hasError('required') && password1.touched">password is required</div>
            <div *ngIf="password1.hasError('minlength') && password1.touched">
              password must have more than 8 characters
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="registerForm.get('password2') as password2">
          <input type="password"
                 matInput
                 placeholder="Confirm Password"
                 formControlName="password2">
          <mat-error>
            <div *ngIf="registerForm.hasError('mismatch') && password2.touched">
              password must match
            </div>
          </mat-error>
        </mat-form-field>

        <button mat-flat-button color="accent" [disabled]="!registerForm.valid" type="submit">Sign in</button>

      </form>
    </div>
  </div>
</div>
