<model-list-container [modelList]="modelList$ | async"
                      [selectedModel]="selectedModel$ | async"
                      [editMode]="editMode$ | async"
                      [mobileView]="isMobile$ | async"
                      (edit)="toggleEdit($event)"
                      (selected)="modelSelected($event)"
                      (create)="newModel()"
                      (delete)="deleteModel($event)">
  <admin-user-view-shell></admin-user-view-shell>
</model-list-container>
