<app-kalendario-card class="card-400 mat-elevation-z5">
  <h5 class="card-title mb-3 text-center">Send Reset Email Request</h5>
  <form [formGroup]="form" (submit)="submit()" class="form-100">
    <div class="form-group" *ngIf="form.get('email') as email">
      <input class="form-control" type="email" placeholder="type your email" formControlName="email">

      <mat-error>
        <div *ngIf="email.hasError('required') && email.touched">email is required</div>
        <div *ngIf="email.hasError('email') && email.touched">please enter a valid email address</div>
        <div *ngIf="email.errors?.serverError">
          {{email.errors?.serverError}}
        </div>
      </mat-error>
    </div>

    <button type="submit" class="btn btn-block btn-primary" [disabled]="!form.valid">Submit</button>
  </form>
</app-kalendario-card>
