<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input matInput formControlName="name"/>
  </mat-form-field>

  <table class="table table-bordered">
    <thead>
    <tr class="text-center">
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="shifts$ | async as shifts">
      <td><schedule-detail-shift (idChange)="updateControl('mon', $event)" [shifts]="shifts"></schedule-detail-shift></td>
      <td><schedule-detail-shift (idChange)="updateControl('tue', $event)" [shifts]="shifts"></schedule-detail-shift></td>
      <td><schedule-detail-shift (idChange)="updateControl('wed', $event)" [shifts]="shifts"></schedule-detail-shift></td>
      <td><schedule-detail-shift (idChange)="updateControl('thu', $event)" [shifts]="shifts"></schedule-detail-shift></td>
      <td><schedule-detail-shift (idChange)="updateControl('fri', $event)" [shifts]="shifts"></schedule-detail-shift></td>
      <td><schedule-detail-shift (idChange)="updateControl('sat', $event)" [shifts]="shifts"></schedule-detail-shift></td>
      <td><schedule-detail-shift (idChange)="updateControl('sun', $event)" [shifts]="shifts"></schedule-detail-shift></td>
    </tr>
    </tbody>
  </table>
  <button [disabled]="!form.valid" color="primary" mat-flat-button>confirm</button>
  <button type="button" (click)="cancel()" color="warn" mat-flat-button>cancel</button>
</form>
