
<mat-card class="card-container mat-elevation-z6">

  <mat-card-header>
    <mat-menu #appMenu="matMenu" >
      <ng-container *ngTemplateOutlet="buttons"></ng-container>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="(matActions.offsetWidth < 240); else buttons">
      <mat-icon>more_vert</mat-icon>
    </button>

    <div class="row no-gutters">
      <div class="col-6">
        {{emp.name}}
      </div>
      <div class="col-6 text-right">
        <button mat-icon-button color="accent" class="close-button" (click)="onCloseClicked()">
          <mat-icon >close</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <app-calendar [events]="events" [availability]="availability"></app-calendar>
  </mat-card-content>

  <mat-card-actions #matActions>

  </mat-card-actions>
</mat-card>

<ng-template #buttons>
  <button mat-button (click)="bookAppointment()">
    <mat-icon matTooltip="book appointment">calendar_today</mat-icon>
  </button>
  <button mat-button (click)="bookSelfAppointment()">
    <mat-icon matTooltip="lock time">lock</mat-icon>
  </button>
  <button mat-button (click)="openRequests()" *ngIf="requests" matBadge="{{requests.length > 0 ? requests.length : null }}" matBadgePosition="above after" matBadgeColor="accent">
    <mat-icon matTooltip="requests">event</mat-icon>
  </button>
</ng-template>
