<form [formGroup]="form" class="form-100" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-12">

      <mat-error>
        <mat-list *ngFor="let error of form.errors">
          {{error}}
        </mat-list>
      </mat-error>

      <div class="form-group">
        <input class="form-control" placeholder="first name" formControlName="firstName">
        <mat-error *ngIf="form.get('firstName').errors?.serverError">
          {{form.get('firstName').errors?.serverError}}
        </mat-error>
      </div>

      <div class="form-group">
        <input class="form-control" placeholder="last name" formControlName="lastName">
        <mat-error *ngIf="form.get('lastName').errors?.serverError">
          {{form.get('lastName').errors?.serverError}}
        </mat-error>
      </div>

      <div class="form-group">
        <input class="form-control" placeholder="email" type="email" formControlName="email">
        <mat-error *ngIf="form.get('email').errors?.serverError">
          {{form.get('email').errors?.serverError}}
        </mat-error>
      </div>

      <div class="form-group">
        <input class="form-control" placeholder="phone" type="tel" formControlName="phone">
        <mat-error *ngIf="form.get('phone').errors?.serverError">
          {{form.get('phone').errors?.serverError}}
        </mat-error>
      </div>

      <div class="form-group">
        <input class="form-control" placeholder="warning" formControlName="warning">
        <mat-error *ngIf="form.get('warning').errors?.serverError">
          {{form.get('warning').errors?.serverError}}
        </mat-error>
      </div>

    </div>
    <div class="col-sm-12 col-md-12 text-right" *ngIf="showButtons">
      <button [disabled]="!form.valid" class="btn btn-primary mr-2">confirm</button>
      <button (click)="emitCancel()" type="button" class="btn btn-danger">cancel</button>
    </div>
  </div>
</form>
