<model-list-container [modelList]="modelList$ | async"
                      [selectedModel]="selectedModel$ | async"
                      [editMode]="editMode$ | async"
                      [searchValue]="searchValue$ | async"
                      [mobileView]="isMobile$ | async"
                      (edit)="toggleEdit($event)"
                      (selected)="modelSelected($event)"
                      (create)="newModel()"
                      (delete)="deleteModel($event)"
                      (search)="updateSearch($event)">
  <ng-container *ngIf="(selectedModel$ | async) as selectedModel">
    <admin-schedule-details [model]="selectedModel"
                            [apiError]="apiError$ | async"
                            [editMode]="editMode$ | async"
                            (create)="saveModel($event)"
                            (update)="updateModel($event)"
                            (cancel)="cancelForm($event)"></admin-schedule-details>
  </ng-container>
</model-list-container>
