.schedule-container {
  max-width: 650px;
}

.date-box {
  flex: 1;
}

.pretty-scroll {
  overflow-y: scroll;
  max-height: 30rem;
}

.day-round {
  position: relative;
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}

.inner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
