<div class="schedule-container">
  <div class="row">
    <div class="col-12 h4 text-center">
      {{employee.name}}
    </div>
    <div class="col-12">
      <div class="d-flex c-primary h3 text-center mr-4 ml-4">
        <i class="fa fa-chevron-left c-pointer" (click)="previousDay()"></i>
        <span class="w-100">{{currentDate.format('MMMM YYYY')}}</span>
        <i class="fa fa-chevron-right c-pointer" (click)="nextDay()"></i>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex h4 text-center">
        <div *ngFor="let date of dates()"
             class="date-box">
          <p>{{date.format('ddd').toUpperCase()}}</p>
          <div class="day-round c-pointer"
               [class.bg-primary]="isCurrent(date)"
               (click)="emitDate(date)">
            <div class="inner">
              {{date.format('DD')}}
            </div>
          </div>
        </div>
      </div>
      <hr/>
    </div>
    <div class="col-12 h5 text-center">
      <div class="c-pointer" (click)="dp.open()">
        <i class="fa fa-calendar mr-2"></i>
        {{currentDate.format('dddd, DD MMMM YYYY')}}
      </div>
      <div class="visually-hidden">
        <input [ngModel]="currentDate"
               (ngModelChange)="emitDate($event)"
               [matDatepicker]="dp"
               (click)="dp.open()">
      </div>
      <mat-datepicker #dp></mat-datepicker>
      <hr/>
      {{availability()}}
      <hr/>
      <ng-container *ngIf="permissions.add">
        <button (click)="add.emit(currentDate)"
                class="btn btn-primary">
          New appointment
        </button>
        <hr/>
      </ng-container>
    </div>
    <div class="col-12">
      <div class="pretty-scroll">
        <employee-schedule-appointment *ngFor="let apt of appointments"
                                       [appointment]="apt"
                                       [showEdit]="permissions.change"></employee-schedule-appointment>
      </div>
    </div>
  </div>
</div>
