<model-list-container [modelList]="modelList$ | async"
                      [selectedModel]="selectedModel$ | async"
                      [editMode]="editMode$ | async"
                      [searchValue]="searchValue$ | async"
                      [mobileView]="isMobile$ | async"
                      (edit)="toggleEdit($event)"
                      (selected)="modelSelected($event)"
                      (create)="newModel()"
                      (delete)="deleteModel($event)"
                      (search)="searchModel($event)">
  <admin-customer-view-shell *ngIf="selectedModel$ | async"></admin-customer-view-shell>
</model-list-container>
