<mat-toolbar>
  <mat-toolbar-row>
    <mat-menu #employeesMenu="matMenu">
      <button *ngFor="let emp of employees$ | async"
              mat-menu-item
              (click)="addPanel(emp)">
        <mat-icon *ngIf="isSelected(emp)">done</mat-icon>
        {{emp.name}}
      </button>
    </mat-menu>

    <button mat-icon-button color="accent" [matMenuTriggerFor]="employeesMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <ng-container *ngIf="!(isMobile$ | async)">
      <button mat-flat-button color="accent" (click)="today()">
        today
      </button>
      <button mat-icon-button color="accent" (click)="previousDay()">
        <mat-icon class="icon">chevron_left</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="nextDay()">
        <mat-icon class="icon">chevron_right</mat-icon>
      </button>
    </ng-container>

    <span class="m-2" (click)="dpApointmentDashboard.open()">{{date.format('ddd')}}</span>
    <mat-form-field>
      <input matInput
             [formControl]="fc"
             [matDatepicker]="dpApointmentDashboard"
             (dateChange)="changeDate($event)">
      <mat-datepicker-toggle matSuffix [for]="dpApointmentDashboard"></mat-datepicker-toggle>
      <mat-datepicker touchUi="{{isMobile$ | async}}" #dpApointmentDashboard></mat-datepicker>
    </mat-form-field>

  </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid">
  <div class="row">
    <div class="col" *ngFor="let emp of selectedEmployees$ | async">
      <employee-schedule-view [employee]="emp" [currentDate]="date" (closeClicked)="removePanel($event)">
      </employee-schedule-view>
    </div>
  </div>
</div>



