.color-picker-container {
  position: relative;
  width: 100%;
}

.color-picker-box {
  min-height: 2em;
  min-width: 5em;
  border: black 1px solid;
  border-radius: 2px;
}

.color-picker-button {
  position: absolute;
  top: 0;
  right: 0;
}

