<app-kalendario-card>
  <div class="s-l-container">
    <div class="s-l-categories">
      <div *ngFor="let category of categories"
           class="mb-4 s-l-item"
           [class.selected-category]="category.id === currentCategoryId"
           (click)="update(category.id)">
        {{category.name}}
      </div>
      <div class="s-l-item" [class.selected-category]="currentCategoryId === null"
           (click)="update(null)">
        Other
      </div>
    </div>
    <div class="row no-gutters pretty-scroll" [@staggeredFadeIn]="animationState">
      <div class="col-sm-12 col-md-6" *ngFor="let service of services">
        <company-service-list-card [service]="service"
                                   [checked]="service.id === currentServiceId"
                                   (selected)="selectService.emit($event)"></company-service-list-card>
      </div>
    </div>
  </div>
</app-kalendario-card>
