<form class="shift-form m-auto" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col-12">
      <mat-form-field>
        <input matInput formControlName="name"/>
      </mat-form-field>
    </div>
    <div class="col-12">
      <div formArrayName="frames"
           *ngFor="let frame of frames().controls; let i = index;">
        <div [formGroupName]="i">
          <div class="form-row">
            <div class="col-5">
              <mat-form-field>
                <input matInput type="time" formControlName="start">
              </mat-form-field>
            </div>
            <div class="col-5">
              <mat-form-field>
                <input matInput type="time" formControlName="end">
              </mat-form-field>
            </div>
            <div class="col-2">
              <button mat-flat-button color="warn" type="button" (click)="removeFrame(frame)"><mat-icon>close</mat-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-right">
      <button mat-flat-button color="accent" type="button" (click)="addFrame()">add frame</button>
    </div>
    <div class="col-12 m-2">
      <button [disabled]="!form.valid" color="primary" mat-flat-button>confirm</button>
      <button type="button" (click)="cancel()" color="warn" mat-flat-button>cancel</button>
    </div>
  </div>
</form>
