<form [formGroup]="form"
      (ngSubmit)="submit()">
  <div class="row">
    <div class="col-12">

      <mat-error *ngIf="form.errors">
        <mat-list *ngFor="let error of form.errors">{{error}}</mat-list>
      </mat-error>

      <mat-form-field>
        <input type="password" placeholder="your password" matInput formControlName="userPassword"/>
        <mat-error *ngIf="form.get('userPassword').errors?.serverError">
          {{form.get('userPassword').errors?.serverError}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="password" placeholder="new password" matInput formControlName="password1"/>
        <mat-error *ngIf="form.get('password1').errors?.serverError">
          {{form.get('password1').errors?.serverError}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="password" placeholder="repeat password" matInput formControlName="password2"/>
        <mat-error *ngIf="form.get('password2').errors?.serverError">
          {{form.get('password2').errors?.serverError}}
        </mat-error>
      </mat-form-field>

    </div>

    <div class="col-12 m-2">
      <button [disabled]="!form.valid" class="btn btn-primary">confirm</button>
      <button (click)="emitCancel()" type="button" class="btn btn-danger">cancel</button>
    </div>
  </div>
</form>
