<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">

    <div class="col-sm-12 col-md-12">
      <mat-error>
        <mat-list *ngFor="let error of form.errors">
          {{error}}
        </mat-list>
      </mat-error>
    </div>
    <div class="col-sm-6 col-md-6">

      <mat-form-field>
        <input matInput placeholder="first name" formControlName="firstName">

        <mat-error *ngIf="form.get('firstName').errors?.serverError">
          {{form.get('firstName').errors?.serverError}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="last name" formControlName="lastName">

        <mat-error *ngIf="form.get('lastName').errors?.serverError">
          {{form.get('lastName').errors?.serverError}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="email" type="email" formControlName="email">

        <mat-error *ngIf="form.get('email').errors?.serverError">
          {{form.get('email').errors?.serverError}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Employee</mat-label>
        <mat-select formControlName="employee"
                    class="form-control">
          <mat-option *ngFor="let employee of employees" [value]="employee.id">
            {{employee.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('employee').errors?.serverError">
          {{form.get('employee').errors?.serverError}}
        </mat-error>
      </mat-form-field>

    </div>
    <div class="col-sm-6 col-md-6">

      <mat-form-field>
        <mat-select placeholder="groups" multiple [formControlName]="'groups'">
          <mat-option *ngFor="let group of groups"
                      [value]="group.id">{{group.name}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="form.get('groups').errors?.serverError">
          {{form.get('groups').errors?.serverError}}
        </mat-error>
      </mat-form-field>

    </div>
    <div class="col-sm-12 col-md-12 text-right" *ngIf="showButtons">
      <button [disabled]="!form.valid" class="btn btn-primary">confirm</button>
      <button (click)="emitCancel()" class="btn btn-danger">cancel</button>
    </div>
  </div>
</form>
