@font-face {
  font-family: Inter;
  src: url(./assets/fonts/inter-regular.ttf) format("opentype");
}

@font-face {
  font-family: RedHat;
  src: url(./assets/fonts/RedHatDisplay-Regular.ttf) format("opentype");
}
//From Figma
