<div class="container mt-4">
  <div class="d-flex justify-content-center">
    <app-kalendario-card class="card-400 m-auto">
      <mat-card-content class="card-body" *ngIf="confirmed$ | async">
        <h4 class="card-title">Email confirmed with success</h4>
        <p>Your email has been confirmed, your account is now verified.</p>
      </mat-card-content>

      <mat-card-content class="card-body" *ngIf="failure$ | async">
        <h4 class="card-title">Invalid confirmation token</h4>
        <ng-container *ngIf="isLoggedIn$ | async; else login">
          <p>Your email couldn't be confirmed with the provided token click in the button </p>
          <button (click)="resendEmail()" class="btn btn-primary">resend</button>
        </ng-container>
        <ng-template #login>
          <p>Your email couldn't be confirmed with the provided token click in the button to login and resend the
            token</p>
          <button routerLink="/resend-confirm-email/now" class="btn btn-block btn-primary">resend</button>
        </ng-template>
      </mat-card-content>
    </app-kalendario-card>
  </div>
</div>
