<div class="card">
  <div class="card-body">
    <form #appointmentForm="ngForm" class="self-appointment-form">

      <mat-form-field>
        <input [(ngModel)]="form.startDate"
               matInput
               [min]="minDate"
               [matDatepicker]="startPicker"
               placeholder="Choose a start date"
               name="startDate"
               #startDate="ngModel"
               (change)="emitDateChanged(form.startDate)"
               required>
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
        <mat-error>this field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="form.startTime"
               matInput
               placeholder="start time"
               name="startTime"
               #startTime="ngModel"
               type="time"
               required>
        <mat-error>this field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="form.endDate"
               matInput
               [min]="minDate"
               [matDatepicker]="endPicker"
               placeholder="Choose a end date"
               name="endDate"
               #endDate="ngModel"
               required>
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
        <mat-error>this field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="form.endTime"
               matInput
               placeholder="end time"
               name="endTime"
               #endTime="ngModel"
               type="time"
               required>
        <mat-error>this field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
    <textarea [(ngModel)]="form.reason"
              matInput
              mat-autosize
              placeholder="reason"
              name="reason"
              #reason="ngModel"
              type="text"
              required></textarea>
        <mat-error>this field is required</mat-error>
      </mat-form-field>

      <button type="submit"
              color="primary"
              mat-flat-button
              [disabled]="!appointmentForm.valid"
              (click)="submit()">
        book appointment
      </button>

    </form>
  </div>
</div>
