<form class="appointment-form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-12 form-group">
      <mat-error>
        <mat-list *ngFor="let error of form.errors">
          {{error}}
        </mat-list>
      </mat-error>
    </div>

    <div class="col-sm-12 col-md-6 form-group">
      <h5>Employee</h5>
      <div *ngIf="canChangeEmployee(); else employeeView" class="form-group">
        <select formControlName="employee"
                class="form-control form-control-admin">
          <option *ngFor="let emp of employees" [value]="emp.id">
            {{emp.name}}
          </option>
        </select>
        <mat-error *ngIf="form.get('employee').errors?.serverError">
          {{form.get('employee').errors?.serverError}}
        </mat-error>
      </div>
      <ng-template #employeeView>
        {{model.employee.name}}
      </ng-template>
    </div>

    <div class="col-sm-12 col-md-6 form-group">
      <h5>Service</h5>
      <div *ngIf="!model.request; else serviceView" class="form-group">
        <select formControlName="service" class="form-control form-control-admin">
          <option *ngFor="let service of employeeServices" [value]="service.id">
            {{service.name}}
          </option>
        </select>
        <mat-error *ngIf="form.get('service').errors?.serverError">
          {{form.get('service').errors?.serverError}}
        </mat-error>
      </div>
      <ng-template #serviceView>
        {{model.service.name}}
      </ng-template>
    </div>

    <div class="col-4 form-group">
      <h5>Date</h5>
          <input readonly
                 formControlName="start"
                 [matDatepicker]="dp"
                 (click)="dp.open()"
                 class="form-control form-control-admin">
          <mat-datepicker #dp ></mat-datepicker>
    </div>
    <div class="col-4">
      <h5>Start</h5>
      <input type="time" formControlName="startTime" class="form-control form-control-admin">
    </div>
    <div class="col-4">
      <h5>End</h5>
      <input [@pulse]="animationState" type="time" formControlName="endTime" class="form-control form-control-admin">
    </div>

    <div class="col-12 form-group">
      <h5>Customer</h5>
      <ng-container *ngIf="!model.request; else customerView">
        <shared-customer-input formControlName="customer"></shared-customer-input>
      </ng-container>
      <ng-template #customerView>
        <table>
          <tr>
            <th>Name</th>
            <td>{{model.customer.name}}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{model.customer.email}}</td>
          </tr>
          <tr>
            <th>Phone</th>
            <td>{{model.customer.phone}}</td>
          </tr>
        </table>
      </ng-template>
    </div>

    <div class="col-12 form-group">
      <h5>Internal Notes</h5>
      <textarea formControlName="internalNotes"
                placeholder="internal notes"
                class="form-control form-control-admin"></textarea>
      <mat-error *ngIf="form.get('internalNotes').errors?.serverError">
        {{form.get('internalNotes').errors?.serverError}}
      </mat-error>
    </div>

    <div class="col-12 form-group" *ngIf="permissions.overlap">
      <mat-checkbox formControlName="ignoreAvailability">Ignore Availability</mat-checkbox>
    </div>

    <div class="col-6">
      <button type="submit" class="btn btn-block btn-primary-gradient"
              [disabled]="!form.valid">{{model.id === 0 ? 'Create' : 'Update'}}</button>
    </div>
    <div class="col-6">
      <button type="button"
              class="btn btn-block btn-danger btn-round"
              (click)="emitCancel()">Cancel
      </button>
    </div>
  </div>
</form>
