@import "../../../../_variables.scss";

.toolbar-wrapper {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 30;
}

.toolbar-row {
  border-bottom: lightgray 1px solid;
}

.nav-spacer {
  flex: 1 1 auto;
}

.selected-panel {
  text-decoration: underline $accent;
}

.top-date {
  line-height: 0.6rem;
  text-transform: uppercase;
}
