<div *ngIf="onUpdateEvent.model as writeModel">

  <ng-container *ngIf="editMode; else viewMode">
    <form #EmployeeForm="ngForm">
      <div class="row">
        <div class="col-4">
          <img src="{{model.photoUrl != null ? model.photoUrl : 'assets/img/default-avatar.jpg'}}"
               class="profile-img">

        </div>
        <div class="col-4">

          <mat-form-field>
            <input [(ngModel)]="writeModel.first_name"
                   placeholder="first name"
                   #firstName="ngModel"
                   name="firstName"
                   type="text"
                   matInput
                   required>
          </mat-form-field>

          <mat-form-field>
            <input [(ngModel)]="writeModel.last_name"
                   placeholder="last name"
                   #lastName="ngModel"
                   name="lastName"
                   type="text"
                   matInput
                   required>
          </mat-form-field>

          <mat-form-field>
            <input [(ngModel)]="writeModel.instagram"
                   placeholder="instagram"
                   #instagram="ngModel"
                   name="instagram"
                   type="text"
                   matInput
                   required>
          </mat-form-field>

          <mat-form-field>
            <input [(ngModel)]="writeModel.email"
                   placeholder="email"
                   #email="ngModel"
                   name="email"
                   type="text"
                   matInput
                   required>
          </mat-form-field>

          <mat-form-field>
            <textarea [(ngModel)]="writeModel.bio"
                      placeholder="bio"
                      #bio="ngModel"
                      name="bio"
                      type="text"
                      matInput
                      required></textarea>
          </mat-form-field>

        </div>
        <div class="col-4">
          <mat-form-field>
            <mat-select placeholder="services"
                        multiple
                        [(value)]="writeModel.services">
              <mat-option *ngFor="let service of services" [value]="service.id.toString()">{{service.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 text-right">
          <button (click)="save()" color="accent" mat-flat-button>confirm</button>
          <button (click)="cancel()" color="danger" mat-flat-button>cancel</button>
        </div>
      </div>
    </form>

  </ng-container>

  <ng-template #viewMode>
    <div class="row">
      <div class="col-4">
        <input type="image" src="{{model.photoUrl != null ? model.photoUrl : 'assets/img/default-avatar.jpg'}}"
               (click)="imageInput.click()"
               class="profile-img"
               alt="upload profile image"
               title="change image">
        <input type="file" accept="image/*" #imageInput hidden (change)="processFile(imageInput)">
      </div>
      <div class="col-4">
        <table class="table table-borderless">
          <tr>
            <th>instagram</th>
            <td>{{model.instagram}}</td>
          </tr>
          <tr>
            <th>email</th>
            <td>{{model.email}}</td>
          </tr>
          <tr>
            <th>bio</th>
            <td>{{model.bio}}</td>
          </tr>
          <tr>
            <th>schedule</th>
            <td>{{model.schedule}}</td>
          </tr>
        </table>
      </div>
      <div class="col-4">
        <table class="table">
          <thead>
          <tr>
            <th>Services</th>
            <th>Duration</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let service of model.services">
            <td>{{service.name}}</td>
            <td>{{service.duration}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 text-right">
        <button [hidden]="!globals.user.can.change.employees()" (click)="edit()" color="accent" mat-flat-button>edit
        </button>
      </div>
    </div>
  </ng-template>
</div>
