
<table class="table table-bordered">
  <thead>
  <tr class="text-center">
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="!editMode">
    <td><schedule-detail-shift [shift]="model.mon"></schedule-detail-shift></td>
    <td><schedule-detail-shift [shift]="model.tue"></schedule-detail-shift></td>
    <td><schedule-detail-shift [shift]="model.wed"></schedule-detail-shift></td>
    <td><schedule-detail-shift [shift]="model.thu"></schedule-detail-shift></td>
    <td><schedule-detail-shift [shift]="model.fri"></schedule-detail-shift></td>
    <td><schedule-detail-shift [shift]="model.sat"></schedule-detail-shift></td>
    <td><schedule-detail-shift [shift]="model.sun"></schedule-detail-shift></td>
  </tr>
  <tr *ngIf="editMode">
    <td><schedule-detail-shift [shift]="model.mon"></schedule-detail-shift></td>
    <td><schedule-detail-shift [shift]="model.tue"></schedule-detail-shift></td>
    <td><schedule-detail-shift [shift]="model.wed"></schedule-detail-shift></td>
    <td><schedule-detail-shift [shift]="model.thu"></schedule-detail-shift></td>
    <td><schedule-detail-shift [shift]="model.fri"></schedule-detail-shift></td>
    <td><schedule-detail-shift [shift]="model.sat"></schedule-detail-shift></td>
    <td><schedule-detail-shift [shift]="model.sun"></schedule-detail-shift></td>
  </tr>
  </tbody>
</table>

<button mat-button (click)="edit()" color="primary">edit</button>
