<form [formGroup]="form" class="form-inline" *ngIf="customerId">
  <mat-form-field>
    <input formControlName="from_date" placeholder="from date" matInput [matDatepicker]="startDt">
    <mat-datepicker-toggle matSuffix [for]="startDt"></mat-datepicker-toggle>
    <mat-datepicker #startDt disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="to_date" placeholder="to date" matInput [matDatepicker]="endDt">
    <mat-datepicker-toggle matSuffix [for]="endDt"></mat-datepicker-toggle>
    <mat-datepicker #endDt disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="services" placeholder="services" multiple>
      <mat-option *ngFor="let service of services" [value]="service.id">{{service.toString()}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="employees" placeholder="employees" multiple>
      <mat-option *ngFor="let employee of employees"
                  [value]="employee.id">{{employee.toString()}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="filter()" class="btn btn-primary">filter</button>
</form>
