<admin-dashboard>
  <div class="row" *ngIf="selectedModel">
    <div class="col-2 model-list pretty-scroll">
      <mat-list>
        <button [hidden]="!globals.user.can.add.schedules()" mat-stroked-button color="accent" class="model-create"
                (click)="createModel()">new
        </button>
        <mat-list-item *ngFor="let schedule of modelList"
                       (click)="selectModel(schedule.id)"
                       [ngClass]="{'A400 active': schedule.id === selectedModel.id}">
          {{schedule.name}}
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-10 p-5">
      <schedule-detail [(model)]="selectedModel" (onUpdate)="handleUpdateModelEvent($event)"></schedule-detail>
    </div>
  </div>
</admin-dashboard>
