<table class="table table-bordered" *ngIf="!(isMobile$ | async); else mobileView">
  <thead>
  <tr>
    <th *ngFor="let item of model.shifts()">
      {{item.day}}
    </th>
  </tr>
  </thead>
  <tr>
    <td *ngFor="let item of model.shifts()">
      <schedule-detail-shift [shift]="item.shift"></schedule-detail-shift>
    </td>
  </tr>
</table>

<ng-template #mobileView>
  <mat-divider></mat-divider>
  <mat-list>
    <mat-list-item class="p500">
      <span class="mat-list-header">SCHEDULE</span>
    </mat-list-item>
    <ng-container *ngFor="let item of model.shifts()">
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="mat-list-title">{{item.abv}}</span>
        <span class="mat-list-value"><schedule-detail-shift [shift]="item.shift"></schedule-detail-shift></span>
      </mat-list-item>
    </ng-container>
  </mat-list>
</ng-template>
