<div class="panel-container">
  <div class="scheduling-panel-heading">
    <div class="fix-size h6">
      {{employee.name}}
    </div>

    <div>
      <button mat-mini-fab color="primary" class="mr-2" (click)="bookAppointment()" matTooltip="book appointment">
        <i class="fa fa-calendar fix-size"></i>
      </button>
      <button  mat-mini-fab color="accent" class="mr-2" (click)="bookSelfAppointment()" matTooltip="lock time">
        <i class="fa fa-lock fix-size"></i>
      </button>
      <button  mat-mini-fab color="warn" (click)="closeClick()" matTooltip="remove">
        <i class="fa fa-user-times fix-size"></i>
      </button>
    </div>
  </div>

  <div>
    <ng-content></ng-content>
  </div>
</div>


