<ng-container *ngIf="type==='SERVICE'">
  <admin-appointment-form [model]="model"
                          [htmlAction]="'CREATE'"
                          (cancelClicked)="onNoClick()"
                          (submitConcluded)="onSubmitClicked($event)">
  </admin-appointment-form>
</ng-container>
<ng-container *ngIf="type==='SELF'">
  <admin-self-appointment-form [model]="model"
                               [htmlAction]="'CREATE'"
                               (cancelClicked)="onNoClick()"
                               (submitConcluded)="onSubmitClicked($event)">
  </admin-self-appointment-form>
</ng-container>
