<div class="row" [class.no-gutters]="isMobile" *ngIf="model.employee">
  <div class="col-sm-12 col-md-4 col-lg-4 text-center">
    <shared-image-input [id]="model.employee.id"
                        [url]="model.employee.photoUrl"
                        (photoChange)="this.photoChange.emit($event)"></shared-image-input>
  </div>
  <app-mat-list-table [items]="details()" title="DETAILS" class="col-sm-12 col-md-4 col-lg-4">
  </app-mat-list-table>
  <app-mat-list-table *ngIf="model.services" [items]="services()" title="SERVICES" class="col-sm-12 col-md-4 col-lg-4">
  </app-mat-list-table>
  <div *ngIf="model.schedule" class="col-sm-12 col-md-12 col-lg-12">
    <admin-schedule-details [model]="model.schedule" [isMobile]="isMobile"></admin-schedule-details>
  </div>
</div>


