<mat-dialog-content>
  <admin-service-form #formComponent
                       [showButtons]="false"
                       [model]="model"
                       [htmlAction]="'CREATE'"
                      (submitConcluded)="onSubmitClicked($event)"
                       (cancelClicked)="onNoClick()">
  </admin-service-form>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="submit()" [disabled]="!formComponent.form.valid" color="accent" mat-flat-button>confirm</button>
  <button (click)="onNoClick()" color="warn" mat-flat-button>cancel</button>
</mat-dialog-actions>
