<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-error>
    <mat-list *ngFor="let error of form.errors">
      {{error}}
    </mat-list>
  </mat-error>

  <div class="form-group">
    <input class="form-control form-control-admin" formControlName="name">

    <mat-error *ngIf="form.get('name').errors?.serverError">
      {{form.get('name').errors?.serverError}}
    </mat-error>
  </div>

  <div class="row">
    <div class="col-12" *ngFor="let item of model.shifts">
      <h5>{{item}}
        <button type="button" class="btn btn-light">
          <i class="fa fa-plus c-primary" (click)="addFrame(item)"></i>
        </button>
      </h5>
      <div class="row" [formGroupName]="item">
        <div class="col-12">
          <div formArrayName="frames"
               *ngFor="let frame of frames(item).controls; let i = index;">
            <div [formGroupName]="i">
              <div class="row">
                <div class="col-sm-4 col-md-5 col-xl-4">
                  <div class="form-group">
                    <input [placeholder]="'frame ' + (i+1) + ' start'"
                           type="time"
                           formControlName="start"
                           class="form-control form-control-admin">
                  </div>
                </div>
                <div class="col-sm-4 col-md-5 col-xl-4">
                  <div class="form-group">
                    <input [placeholder]="'frame ' + (i+1) + ' end'"
                           type="time"
                           formControlName="end"
                           class="form-control form-control-admin">
                  </div>
                </div>
                <div class="col-sm-4 col-md-2 col-xl-4">
                  <button class="btn btn-danger" type="button" (click)="removeFrame(item, frame)" matTooltip="remove frame">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="showButtons">
    <button [disabled]="!form.valid" class="btn btn-primary">confirm</button>
    <button (click)="emitCancel()" class="btn btn-danger">cancel</button>
  </div>

</form>
