<mat-card class="card-container" *ngIf="!(mobileView$ | async); else mobileContainer">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2 model-list pretty-scroll">
      <ng-container *ngTemplateOutlet="list"></ng-container>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10">
      <ng-container *ngTemplateOutlet="details"></ng-container>
    </div>
  </div>
</mat-card>

<ng-template #mobileContainer>
  <mat-tab-group [(selectedIndex)]="tabIndex" mat-align-tabs="center">
    <mat-tab label="List">
      <ng-container *ngTemplateOutlet="list"></ng-container>
    </mat-tab>
    <mat-tab label="Details">
      <ng-container *ngTemplateOutlet="details"></ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template #list>
  <button mat-stroked-button
          color="accent"
          (click)="onCreate()"
          class="model-create">new
  </button>
  <mat-list *ngIf="selectedModel$ | async as selectedModel">
    <mat-list-item *ngFor="let model of modelList$ | async"
                   (click)="selectModel(model)"
                   [ngClass]="{'A400 active': model.id === selectedModel.id}">
      {{model.toString()}}
    </mat-list-item>
  </mat-list>
</ng-template>

<ng-template #details>
  <ng-content></ng-content>
  <div class="{{(mobileView$ | async) ? 'edit-mobile-container' : 'edit-desktop-container'}}">
    <button class="edit-button" [hidden]="(editMode$ | async)" (click)="onEdit()" color="accent" mat-raised-button>
      edit
    </button>
    <button class="delete-button" [hidden]="(editMode$ | async)" (click)="onDelete()" color="warn" mat-raised-button>
      delete
    </button>
  </div>
</ng-template>
