.model-create {
  width: 100%;
}

button:focus {
  outline: 0;
}

.model-list {
  overflow-y: scroll;
}

.edit-desktop-container {
  text-align: right;
}

.edit-mobile-container > button {
  width: 100%;
}

.edit-button {
  margin-top: 10px;
}

.card-container {
  margin: 10px;
}
