.model-create {
  width: 100%;
}

button:focus {outline:0;}

.model-list {
  overflow-y: scroll;
  min-height: 75vh;
}

.model-list-container {
  min-height: 80vh;
  max-height: 80vh;
}

.edit-button {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
