<form class="shift-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-grid-list [cols]="(isTablet$ | async) ? 1 : 4" rowHeight="14em" [gutterSize]="0" *ngIf="shifts$ | async as shifts">
    <mat-grid-tile [colspan]="1" *ngFor="let item of model.shifts()">
      <mat-grid-tile-header class="p400">{{item.toUpperCase()}}</mat-grid-tile-header>
      <mat-form-field>
        <mat-select placeholder="Select" [formControlName]="item" >
          <mat-option [value]="0">select a shift</mat-option>
          <mat-option *ngFor="let s of shifts" [value]="s.id">{{s.toString()}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="showButtons">
    <button mat-flat-button color="primary">confirm</button>
    <button mat-flat-button color="warn" (click)="cancel()">cancel</button>
  </div>

</form>
