<form [formGroup]="form" (ngSubmit)="submit()">

  <mat-error>
    <mat-list *ngFor="let error of form.errors">
      <mat-icon>priority_high</mat-icon> {{error}}
    </mat-list>
  </mat-error>

  <mat-form-field>
    <input matInput formControlName="name">

    <mat-error *ngIf="form.get('name').errors?.serverError">
      {{form.get('name').errors?.serverError}}
    </mat-error>
  </mat-form-field>

  <mat-grid-list [cols]="(isTablet$ | async) ? 1 : 4" rowHeight="14em" [gutterSize]="0" *ngIf="shifts$ | async as shifts">
    <mat-grid-tile [colspan]="1" *ngFor="let item of model.shifts()">
      <mat-grid-tile-header class="p400">{{item.toUpperCase()}}</mat-grid-tile-header>

      <mat-form-field>
        <mat-select placeholder="Select" [formControlName]="item" >
          <mat-option [value]="0">select a shift</mat-option>
          <mat-option *ngFor="let s of shifts" [value]="s.id">{{s.toString()}}</mat-option>
        </mat-select>

        <mat-error *ngIf="form.get(item).errors?.serverError">
          {{form.get(item).errors?.serverError}}
        </mat-error>
      </mat-form-field>

    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="showButtons">
    <button class="responsive-button" [disabled]="!form.valid" color="accent" mat-flat-button>confirm</button>
    <button class="responsive-button" (click)="cancel()" color="warn" mat-flat-button>cancel</button>
  </div>

</form>
