<form class="shift-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <input matInput formControlName="name">
  </mat-form-field>
  <table class="table table-bordered">
    <thead>
    <tr class="text-center">
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="shifts$ | async as shifts">
      <td><schedule-detail-shift (idChange)="updateControl('mon', $event)" [shift]="model.mon" [shifts]="shifts"></schedule-detail-shift></td>
      <td><schedule-detail-shift (idChange)="updateControl('tue', $event)" [shift]="model.tue" [shifts]="shifts"></schedule-detail-shift></td>
      <td><schedule-detail-shift (idChange)="updateControl('wed', $event)" [shift]="model.wed" [shifts]="shifts"></schedule-detail-shift></td>
      <td><schedule-detail-shift (idChange)="updateControl('thu', $event)" [shift]="model.thu" [shifts]="shifts"></schedule-detail-shift></td>
      <td><schedule-detail-shift (idChange)="updateControl('fri', $event)" [shift]="model.fri" [shifts]="shifts"></schedule-detail-shift></td>
      <td><schedule-detail-shift (idChange)="updateControl('sat', $event)" [shift]="model.sat" [shifts]="shifts"></schedule-detail-shift></td>
      <td><schedule-detail-shift (idChange)="updateControl('sun', $event)" [shift]="model.sun" [shifts]="shifts"></schedule-detail-shift></td>
    </tr>
    </tbody>
  </table>
  <button mat-flat-button color="primary">confirm</button>
  <button mat-flat-button color="warn" (click)="cancel()">cancel</button>
</form>
