<div *ngIf="employee$ | async as emp" class="card">
  <div class="card-body">
    <ngb-tabset type="pills">
      <ngb-tab title="Profile">
        <ng-template ngbTabContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Schedule">
        <ng-template ngbTabContent>
          <app-employee-appointments class="p-4" [employee]="emp"></app-employee-appointments>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
