<form class="form-100" [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

      <mat-error>
        <mat-list *ngFor="let error of form.errors">
          <mat-icon>priority_high</mat-icon> {{error}}
        </mat-list>
      </mat-error>

      <mat-form-field>
        <input matInput placeholder="name" formControlName="name">

        <mat-error *ngIf="form.get('name').errors?.serverError">
          {{form.get('name').errors?.serverError}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <duration-input placeholder="duration" formControlName="duration"></duration-input>

        <mat-error *ngIf="form.get('duration').errors?.serverError">
          {{form.get('duration').errors?.serverError}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <color-input placeholder="color" formControlName="color"></color-input>

        <mat-error *ngIf="form.get('color').errors?.serverError">
          {{form.get('color').errors?.serverError}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="description" formControlName="description"></textarea>

        <mat-error *ngIf="form.get('description').errors?.serverError">
          {{form.get('description').errors?.serverError}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12" *ngIf="showButtons">
      <button class="responsive-button" [disabled]="!form.valid" color="accent" mat-flat-button>confirm</button>
      <button class="responsive-button" (click)="cancel()" color="warn" mat-flat-button>cancel</button>
    </div>
  </div>
</form>

