<<mat-dialog-content>
<mat-form-field>
    <input id="search" matInput placeholder="Filter">
  </mat-form-field>

  <button mat-button color="accent" (click)="openCreateForm()">add new</button>

  <div class="drawer-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults || errorOccurred">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="errorOccurred">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>

    <div class="example-table-container">

      <table mat-table [dataSource]="data" class="example-table"
             matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let row">{{row.phone}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr (click)="onRowClick(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="warn" (click)="onCancelClick()">cancel</button>
</mat-dialog-actions>


